carvalueproj/
data_private/
images/
Data Collection/web_scraper_log
my-notes.md
.env
my-notes.md
car-value-estimator-team-ec2.pem
car-value-estimator-team-proj-ec2.pem
car-value-est-proj-amazon-linux-ec2.pem